<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create new blog</title>
    <link rel="stylesheet" href="/styles/style.css">

</head>

<body>
    <div class="blog-container">
        <h1 class="blog-heading">create new blog with heading and description</h1>
        <form class="flex" action="/posts/new" method="post">
            <input class="input-head" type="text" name="heading" placeholder="heading of the blog">
            <textarea class="blog-body" name="body" placeholder="body of the blog"></textarea>
            <button>create new blog</button>
        </form>
    </div>
</body>

</html>